.square{
height: 400px;
width: 1000px;;
background-color: greenyellow;
border: solid 2px blanchedalmond;
box-sizing: border-box;
margin: 20vh;
margin-left: 20%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 50px;
border-radius: 10px;




}
.el1{
    height: 300px;
    width: 700px;
    background-color: pink;
    border: dodgerblue 2px solid;
    box-sizing: border-box;
    padding: 10%;
    border-radius: 10px;


}.el2{
     height: 300px;
    width: 200px;
    background-color: pink;
    border: burlywood 4px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}.el3{
    height: 140px;
    width: 160px;
    background-color: cyan;
    border: solid plum 3px;
    box-sizing: border-box;
    border-radius: 10px;

}